.main {
    padding-top: 1rem;
    border: 0;
    border-start-end-radius: 1rem;
    border-start-start-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.select {
    width: 200px;
}

.footer {
    /* padding-top: -1rem; */
    border: 0;
    border-end-start-radius: 1rem;
    border-end-end-radius: 1rem;
    /* border-radius: 1rem; */
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background-color: #acacac;
    color: #ffffff;
}

textarea {
    resize: none;
}